# Import Libraries

In [79]:
import pandas as pd
import numpy as np

# Obtain Data

Read data csv into pandas

In [80]:
df = pd.read_csv('Excel/data.csv')
df.head()

,Unnamed: 0,Brand,Model,Year,Overall Score,Road Test Score,Reliability Score,Owner Satisfaction,Warranty,Drivetrain Warranty,...,Wheelbase,Turning Circle,Curb Weight,Max Load,Towing Capacity,Driving Satisfaction,Comfort Satisfaction,Value Satisfaction,Styling Satisfaction,Nameplate (Cleaned)
0,0,toyota,highlander,2020,86,86,4,4,"3 years/36,000 miles","5 years/60,000 miles",...,112,38,4365,1390,5000.0,NaN,NaN,NaN,NaN,highlander
1,0,tesla,model-3,2020,80,82,3,5,"4 years/50,000 miles","8 years/100,000 miles",...,113,40,3895,890,NaN,98.0,82.0,72.0,91.0,model3
2,0,toyota,c-hr,2020,61,64,3,1,"3 years/36,000 miles","5 years/60,000 miles",...,104,36,3290,835,NaN,66.0,49.0,58.0,83.0,chr
3,0,nissan,murano,2020,75,77,4,3,"3 years/36,000 miles","5 years/60,000 miles",...,111,40,4025,900,1500.0,77.0,80.0,64.0,86.0,murano
4,0,lexus,rx-l,2020,81,80,4,4,NaN,NaN,...,110,41,4650,1235,3500.0,NaN,NaN,NaN,NaN,rxl

# Scrub Data

Perform df.info() to understand scrubbing needed

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 91 columns):
Unnamed: 0                   231 non-null int64
Brand                        231 non-null object
Model                        231 non-null object
Year                         231 non-null int64
Overall Score                231 non-null int64
Road Test Score              231 non-null int64
Reliability Score            231 non-null int64
Owner Satisfaction           231 non-null int64
Warranty                     206 non-null object
Drivetrain Warranty          206 non-null object
Corrosion Waranty            206 non-null object
Roadside Aid                 205 non-null object
Free Maintenance             86 non-null object
Acceleration Score           231 non-null int64
Zero To Sixty                231 non-null float64
Transmission Score           231 non-null int64
Fuel Economy Score           231 non-null int64
Overall Fuel Economy         231 non-null int64
City Fuel Economy            231 non-null int64
Highway Fuel Economy         231 non-null int64
Annual Fuel Cost             231 non-null object
Braking Score                231 non-null int64
Emergency Handling Score     231 non-null int64
Ride Score                   231 non-null int64
Noise Score                  231 non-null int64
Front Seat Score             231 non-null int64
Rear Seat Score              231 non-null object
Interior Finish Score        231 non-null int64
Trunk Score                  231 non-null int64
Seats                        231 non-null object
Zero To Thirty               231 non-null float64
Fortyfive To Sixty           230 non-null float64
Quarter Mile                 230 non-null float64
Quarter Speed                230 non-null float64
Routine Handling Score       231 non-null int64
Avoidance Max Speed          231 non-null int64
Wet Braking                  231 non-null int64
Dry Braking                  231 non-null int64
Headlights                   231 non-null int64
Driving Position             231 non-null int64
Front Shoulder Room          231 non-null float64
Front Leg Room               231 non-null float64
Front Head Room              231 non-null float64
Rear Shoulder Room           225 non-null float64
Rear Leg Room                225 non-null float64
Rear Head Room               217 non-null float64
Third Row Score              231 non-null object
Third Shoulder Room          45 non-null float64
Third Leg Room               43 non-null float64
Third Head Room              31 non-null float64
Front Access                 231 non-null int64
Rear Access                  231 non-null object
Third Access                 231 non-null object
Usability                    231 non-null int64
Climate System               231 non-null int64
Fuel Capacity                222 non-null float64
Fuel Type                    231 non-null object
Forward Collision Warning    220 non-null object
City Automatic Braking       214 non-null object
Highway Automatic Braking    200 non-null object
Pedestrian Detection         184 non-null object
Lane Departure Warning       207 non-null object
Lane Keep Assist             182 non-null object
Blind Spot Warning           204 non-null object
Rear Traffic Warning         198 non-null object
Rear View Camera             231 non-null object
Anti Lock Breaks             231 non-null object
Traction Control             231 non-null object
Stability Control            231 non-null object
Daytime Running Lights       231 non-null object
Side Airbags                 231 non-null object
Head Airbags                 231 non-null object
IIHS Moderate Overlap        175 non-null object
IIHS Driver Overlap          165 non-null object
IIHS Passenger Overlap       129 non-null object
IIHS Side Crash              175 non-null object
IIHS Rear Crash              165 non-null object
IIHS Roof Crush              167 non-null object
Length                       231 non-null int64
Width                        231 non-null int64
Height                       231 non-null int64
Wheelbase                    231 non-null int64
Turning Circle               231 non-null int64
Curb Weight                  231 non-null int64
Max Load                     231 non-null int64
Towing Capacity              126 non-null float64
Driving Satisfaction         171 non-null float64
Comfort Satisfaction         171 non-null float64
Value Satisfaction           171 non-null float64
Styling Satisfaction         171 non-null float64
Nameplate (Cleaned)          231 non-null object
dtypes: float64(20), int64(35), object(36)
memory usage: 164.4+ KB

Drop df columns not used in modeling

In [82]:
df.drop(columns=['Unnamed: 0', 'Brand', 'Model', 'Year', 'Warranty', 'Drivetrain Warranty', 'Corrosion Waranty', 
                'Roadside Aid', 'Free Maintenance', 'Fuel Type', 'Nameplate (Cleaned)', 'Seats'], inplace=True)
df.head()

,Overall Score,Road Test Score,Reliability Score,Owner Satisfaction,Acceleration Score,Zero To Sixty,Transmission Score,Fuel Economy Score,Overall Fuel Economy,City Fuel Economy,...,Height,Wheelbase,Turning Circle,Curb Weight,Max Load,Towing Capacity,Driving Satisfaction,Comfort Satisfaction,Value Satisfaction,Styling Satisfaction
0,86,86,4,4,4,7.3,4,3,22,14,...,68,112,38,4365,1390,5000.0,NaN,NaN,NaN,NaN
1,80,82,3,5,5,5.3,5,5,130,136,...,57,113,40,3895,890,NaN,98.0,82.0,72.0,91.0
2,61,64,3,1,2,11.2,4,4,29,19,...,62,104,36,3290,835,NaN,66.0,49.0,58.0,83.0
3,75,77,4,3,4,7.7,5,3,21,15,...,67,111,40,4025,900,1500.0,77.0,80.0,64.0,86.0
4,81,80,4,4,4,7.7,5,2,20,12,...,67,110,41,4650,1235,3500.0,NaN,NaN,NaN,NaN

Replace 'Annual Fuel Cost' 'A' values leading to object datatype with np.nan to indicate values are missing and update column to int datatype

In [83]:
df['Annual Fuel Cost'] = df['Annual Fuel Cost'].apply(lambda x: x.replace(',', ''))
fuel_replace_dict = {'A': np.nan}
df['Annual Fuel Cost'] = df['Annual Fuel Cost'].replace(fuel_replace_dict)
df['Annual Fuel Cost'] = df['Annual Fuel Cost'].astype('int')
df.head()

,Overall Score,Road Test Score,Reliability Score,Owner Satisfaction,Acceleration Score,Zero To Sixty,Transmission Score,Fuel Economy Score,Overall Fuel Economy,City Fuel Economy,...,Height,Wheelbase,Turning Circle,Curb Weight,Max Load,Towing Capacity,Driving Satisfaction,Comfort Satisfaction,Value Satisfaction,Styling Satisfaction
0,86,86,4,4,4,7.3,4,3,22,14,...,68,112,38,4365,1390,5000.0,NaN,NaN,NaN,NaN
1,80,82,3,5,5,5.3,5,5,130,136,...,57,113,40,3895,890,NaN,98.0,82.0,72.0,91.0
2,61,64,3,1,2,11.2,4,4,29,19,...,62,104,36,3290,835,NaN,66.0,49.0,58.0,83.0
3,75,77,4,3,4,7.7,5,3,21,15,...,67,111,40,4025,900,1500.0,77.0,80.0,64.0,86.0
4,81,80,4,4,4,7.7,5,2,20,12,...,67,110,41,4650,1235,3500.0,NaN,NaN,NaN,NaN

Replace rear and third row score 'A' values leading to object datatype with 0 to indicate vehicle lacks these rows and update column to int datatype

In [84]:
seat_replace_dict = {'N': 0}
df['Rear Seat Score'] = df['Rear Seat Score'].replace(seat_replace_dict)
df['Rear Seat Score'] = df['Rear Seat Score'].astype('int')

df['Third Row Score'] = df['Third Row Score'].replace(seat_replace_dict)
df['Third Row Score'] = df['Third Row Score'].astype('int')

df['Rear Access'] = df['Rear Access'].replace(seat_replace_dict)
df['Rear Access'] = df['Rear Access'].astype('int')

df['Third Access'] = df['Third Access'].replace(seat_replace_dict)
df['Third Access'] = df['Third Access'].astype('int')
df.head()

,Overall Score,Road Test Score,Reliability Score,Owner Satisfaction,Acceleration Score,Zero To Sixty,Transmission Score,Fuel Economy Score,Overall Fuel Economy,City Fuel Economy,...,Height,Wheelbase,Turning Circle,Curb Weight,Max Load,Towing Capacity,Driving Satisfaction,Comfort Satisfaction,Value Satisfaction,Styling Satisfaction
0,86,86,4,4,4,7.3,4,3,22,14,...,68,112,38,4365,1390,5000.0,NaN,NaN,NaN,NaN
1,80,82,3,5,5,5.3,5,5,130,136,...,57,113,40,3895,890,NaN,98.0,82.0,72.0,91.0
2,61,64,3,1,2,11.2,4,4,29,19,...,62,104,36,3290,835,NaN,66.0,49.0,58.0,83.0
3,75,77,4,3,4,7.7,5,3,21,15,...,67,111,40,4025,900,1500.0,77.0,80.0,64.0,86.0
4,81,80,4,4,4,7.7,5,2,20,12,...,67,110,41,4650,1235,3500.0,NaN,NaN,NaN,NaN

Update safety feature 'Standard' and 'Optional' options to 0, 1 boolean form

In [90]:
df['Lane Keep Assist'].value_counts()

Standard    97
Optional    85
Name: Lane Keep Assist, dtype: int64

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 231 entries, 0 to 230
Data columns (total 79 columns):
Overall Score                231 non-null int64
Road Test Score              231 non-null int64
Reliability Score            231 non-null int64
Owner Satisfaction           231 non-null int64
Acceleration Score           231 non-null int64
Zero To Sixty                231 non-null float64
Transmission Score           231 non-null int64
Fuel Economy Score           231 non-null int64
Overall Fuel Economy         231 non-null int64
City Fuel Economy            231 non-null int64
Highway Fuel Economy         231 non-null int64
Annual Fuel Cost             220 non-null float64
Braking Score                231 non-null int64
Emergency Handling Score     231 non-null int64
Ride Score                   231 non-null int64
Noise Score                  231 non-null int64
Front Seat Score             231 non-null int64
Rear Seat Score              231 non-null int64
Interior Finish Score        231 non-null int64
Trunk Score                  231 non-null int64
Zero To Thirty               231 non-null float64
Fortyfive To Sixty           230 non-null float64
Quarter Mile                 230 non-null float64
Quarter Speed                230 non-null float64
Routine Handling Score       231 non-null int64
Avoidance Max Speed          231 non-null int64
Wet Braking                  231 non-null int64
Dry Braking                  231 non-null int64
Headlights                   231 non-null int64
Driving Position             231 non-null int64
Front Shoulder Room          231 non-null float64
Front Leg Room               231 non-null float64
Front Head Room              231 non-null float64
Rear Shoulder Room           225 non-null float64
Rear Leg Room                225 non-null float64
Rear Head Room               217 non-null float64
Third Row Score              231 non-null int64
Third Shoulder Room          45 non-null float64
Third Leg Room               43 non-null float64
Third Head Room              31 non-null float64
Front Access                 231 non-null int64
Rear Access                  231 non-null int64
Third Access                 231 non-null int64
Usability                    231 non-null int64
Climate System               231 non-null int64
Fuel Capacity                222 non-null float64
Forward Collision Warning    220 non-null object
City Automatic Braking       214 non-null object
Highway Automatic Braking    200 non-null object
Pedestrian Detection         184 non-null object
Lane Departure Warning       207 non-null object
Lane Keep Assist             182 non-null object
Blind Spot Warning           204 non-null object
Rear Traffic Warning         198 non-null object
Rear View Camera             231 non-null object
Anti Lock Breaks             231 non-null object
Traction Control             231 non-null object
Stability Control            231 non-null object
Daytime Running Lights       231 non-null object
Side Airbags                 231 non-null object
Head Airbags                 231 non-null object
IIHS Moderate Overlap        175 non-null object
IIHS Driver Overlap          165 non-null object
IIHS Passenger Overlap       129 non-null object
IIHS Side Crash              175 non-null object
IIHS Rear Crash              165 non-null object
IIHS Roof Crush              167 non-null object
Length                       231 non-null int64
Width                        231 non-null int64
Height                       231 non-null int64
Wheelbase                    231 non-null int64
Turning Circle               231 non-null int64
Curb Weight                  231 non-null int64
Max Load                     231 non-null int64
Towing Capacity              126 non-null float64
Driving Satisfaction         171 non-null float64
Comfort Satisfaction         171 non-null float64
Value Satisfaction           171 non-null float64
Styling Satisfaction         171 non-null float64
dtypes: float64(21), int64(37), object(21)
memory usage: 142.7+ KB

In [48]:
df['Rear Seat Score'].value_counts()

4    91
3    60
5    47
2    18
1     9
N     6
Name: Rear Seat Score, dtype: int64